.section__hero {
  padding: 24rem 0 0;
  margin-bottom: 33rem;

  position: relative;

  .hero__img {
    width: 78rem;

    position: absolute;
    top: 4.5rem;
    right: -6rem;
    z-index: -1;
  }
}

.hero {
  max-width: 64rem;
}

.subtitle {
  margin-bottom: 0.8rem;

  font-family: 'Public Sans';
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;

  color: $primary;
}

.title {
  margin-bottom: 1.6rem;

  font-family: 'Barlow';
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase;

  color: $white;
}

.description {
  width: 47rem;
  margin-bottom: 3rem;

  font-family: 'Public Sans';
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: $white;
}

.hero__btn {
  .btn {
    padding: 1.6rem 0;


    &--yellow {
      margin-right: 3rem;
    }
  }
}
