.section__question {
  display: none;
  position: sticky;
  top: 10vh;

  width: 121rem;
  margin-bottom: 19rem;

  h2 {
    width: 49rem;
  }
}

.height {
  min-height: 170vh;
}

.section__wrapper {
  min-height: 100vh;
}

.scroll {
  position: relative;

  height: 675px;
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;

  overflow: hidden;

  &::after {
    content: '';
    background: linear-gradient(
      180deg,
      #000000 6.99%,
      rgba(1, 2, 1, 0) 37.82%,
      rgba(01, 2, 1, 0) 55.65%,
      #000000 94.25%
    );
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__img {
    display: none;
    
    width: 60rem;
    height: 60rem;
    margin-top: 3rem;

    display: grid;
    justify-content: center;

    overflow: hidden;

    img {
      width: 60rem;

      display: none;
    }

    .displayed {
      display: block;
    }
  }

  &__vertical {
    position: absolute;
    top: 30rem;
    left: 52%;
    right: 50%;

    transition: all 1s ease;
  }

  &__text {
    width: 45.5rem;
    height: 67rem;

    position: absolute;
    right: 0;
    top: 24.5rem;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

    transition: all 1s ease;
  }

  &__text-wrapper {
    padding: 1.5rem 0 1.5rem;
    max-width: 36.5rem;

    &.first {
      &.small {
        transition: all 1s ease;

        width: 33rem;
        transform: translate(-4rem, -2.5rem) scale(0.65);
      }
    }
    &.second {
      &.small {
        transition: all 1s ease;

        width: 33rem;
        transform: translate(-4rem, 0) scale(0.65);
      }
    }

    &.last {
      &.small {
        transition: all 1s ease;

        width: 33rem;
        transform: translate(-4rem, 2.5rem) scale(0.65);
      }
    }
  }
  &__text-subtitle {
    margin-bottom: 0.4rem;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #e8d33e;
  }
  &__text-title {
    margin-bottom: 0.8rem;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    text-transform: uppercase;
  }
  &__text-description {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
}

.t0 {
  top: 0;
}

.t-24 {
  top: -24rem;
}

.t-34 {
  top: -34rem;
}
