<footer class="footer">
  <div class="footer__wrapper">
    <a href="#">
      <img
        class="footer__logo animate__animated"
        src="assets/images/logo.png"
        alt="Site logo"
      />
    </a>
    <div class="list__wrapper">
      <ul class="footer__list">
        <h5 class="footer__list-title animate__animated">Menu</h5>
        <li class="footer__item">
          <a href="#" class="footer__link">Projects</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Oracle Finance</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Stake ORFI</a>
        </li>
      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title animate__animated">Info</h5>
        <li class="footer__item">
          <a href="#" class="footer__link">Become an Ambassador</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Whitepaper</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Docs</a>
        </li>
      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title animate__animated">Socials</h5>
        <li class="footer__item">
          <a href="#" class="footer__link">Instagram</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Medium</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Discord</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">GitBook</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copy">
    © Oracle Finance 2022. All Rights Reserved
  </div>
</footer>
