<header class="header">
  <div class="header__wrapper">
    <a href="#" class="row__splash">
      <span class="row__inner"
        ><img src="assets/images/logo.png" alt="Site logo"
      /></span>
    </a>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav__item">
          <a href="#" class="nav__link row__splash"
            ><span class="row__inner">Projects</span></a
          >
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link row__splash"
            ><span class="row__inner">Oracle Finance</span></a
          >
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link row__splash"
            ><span class="row__inner">Stake ORFI</span></a
          >
        </li>
      </ul>
    </nav>
    <button class="btn btn--yellow animate__animated animate__fadeInUp">Connect Wallet</button>
  </div>
</header>
